.titlepost{
	border-bottom:5px ridge gold;
}
.posts{
	border:2px solid black;
	padding:5px;
	margin-bottom:5px;
}
.posts img{
	width:60px;
	height:60px;
	float:left;
	margin-right:5px;
}
.sidebarpost{
	border:2px solid black;
}
.sidebar ul{
	list-style:none;
}
.sidebar ul li{
	border-bottom:2px dashed red;
	
}
.sidebar ul li a:hover{
	color:red;
}
.adminpanel{
	min-height:500px;
}